<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <style>
        body {
            background-color: #fff4cf; 
            font-family: Arial, Helvetica, sans-serif;
        }

        button {
            padding: 4px 12px;
            font-weight: 600;
        }

        div {
            margin-bottom: 20px;
            border: 1px solid #000;
            padding: 8px;
        }
    </style>
    <div>
        initial: {{request.initial}}
    </div>
    <div>
        processed: {{request.processed}}
    </div>
    <button onclick="location.href='/run'">Run</button>
    <button onclick="location.href='/stop'">Stop</button>    
</body>
</html>
